[submodule "calculator/rebasedpav2"]
	path = calculator/rebasedpav2
	url = git@github.com:CityUniversityLondon/CUL-peerworkcalculator_rebasedpav2.git
[submodule "calculator/rebasedpa"]
	path = calculator/rebasedpa
	url = git@github.com:CityUniversityLondon/CUL-peerworkcalculator_rebasedpa.git
[submodule "calculator/simplepa"]
	path = calculator/simplepa
	url = git@github.com:CityUniversityLondon/CUL-peerworkcalculator_simplepa.git
[submodule "calculator/trimmedpa"]
	path = calculator/trimmedpa
	url = git@github.com:CityUniversityLondon/CUL-peerworkcalculator_trimmedpa.git
