#mod-peerassessment-summary-table .singlebutton {
    display: inline-block;
    margin-right: 4px;
}

#mod-peerassessment-summary-table .singlebutton input {
    width: 70px;
}

#mod-peerassessment-summary-table td {
	padding: 0px 20px;
}

#mod-peerassessment-summary-table th {
	padding: 10px 20px;
	text-align: left;
}



/** classes **/
/** vertical 'gap' into which the rotated text fits **/
div.form-group[data-groupname="mod_peerassessment_scaleheader"] {
		/** height: 100px; **/
}

/** rotated text of the scale items , keep width same as  div.form-group height (so it fits when rotated) and radio button width **/
div.form-group[data-groupname="mod_peerassessment_scaleheader"] div.mod_peerassessment_scaleheader {
		background-color: orange;
		float: left;
		/**
		transform: rotate(270deg);
		transform-origin: center center 0;
				height:100px;
		**/
		width:100px;
		vertical-align: bottom;
  		text-align: centre;
  		font-weight: bold;
}

/** each radio button **/
div[data-fieldtype="group"] label.form-check-label {
		background-color: yellow;
		text-align: center;
		width:100px;
}

div.mod_peerassessment_criteriaheader {
		background-color: aqua;
		font-size: large;
				
}
