{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_peerwork/peerwork_detail_summary

    Table output for criteria and justification in the details form.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
        "criteria":[
            {
                "attributes":{"class":"peerwork crit"},
                "caption":"",
                "peergradefor":[
                    {
                        "name":"George Berkeley",
                        "gradedby":[
                            {
                                "name":"John Stuart Mill",
                                "grade":"5"
                            }
                        ]
                    }
                ],
                "peergradedby":[
                    {
                        "name":"George Berkeley",
                        "gradefor":[
                            {
                                "name":"John Stuart Mill",
                                "grade":"5"
                            }
                        ]
                    }
                ]
            }
        ]
    }
}}

{{# criteria }}
<table class="{{ attributes.class }}">
    <caption>{{{ caption }}}</caption>
    <thead>
    <tr>
        <th></th>
        {{# peergradefor }}
        <th>{{ name }}</th>
        {{/ peergradefor }}
    </tr>
    </thead>
    <tbody>
        {{# peergradedby }}
        <tr>
            <td>{{{ name }}}</td>
            {{# gradefor }}
            <td>{{{ grade }}}</td>
            {{/ gradefor }}
        </tr>
        {{/ peergradedby }}
    </tbody>
</table>
{{/ criteria }}
<br>
{{# overridepeergrades }}
<strong>{{# str }} overridepeergradesby, mod_peerwork {{/ str }}</strong>
<div id="memberdropdown" class="dropdown justify-content-center py-3">
    <a class="dropdown-toggle nav-link" id="drop-down-{{ uniqid }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{# str }} select, core {{/ str }}" href="#">
        {{# str }} select, core {{/ str }}
    </a>
    <div class="dropdown-menu mt-0" aria-labelledby="drop-down-{{ uniqid }}">
        {{# memberdropdown }}
        <a
            class="dropdown-item"
            href="{{{ href }}}"
            title="{{{ name }}}"
        >
            {{{ name }}}
        </a>
        {{/ memberdropdown }}
    </div>
</div>
{{/ overridepeergrades }}



