{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_peerwork/peergrades_start

    Custom form output for criteria and justification in the submissions form.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
        "criteria":[
            {"criterion":{
                "id":"2",
                "peerworkid":"2",
                "description":"<p>Criteria 1<\/p>",
                "descriptionformat":"1",
                "grade":"-3",
                "weight":"1",
                "sortorder":"0",
                "justif":true,
                "justifcriteria":false,
                "scaleitems":[
                    {"header":"Bad"},
                    {"header":"Medium"},
                    {"header":"Good"}
                ],
                "peers":[
                    {
                        "data-peerid":"629",
                        "namedisplay":"Bob Smith",
                        "scaleitems":[
                            {
                                "srlabel":"Rating 'Bad' for Bob Smith",
                                "attrs":{
                                    "name":"grade_idx_2[629]",
                                    "value":0,
                                    "title":"Rating 'Bad' for Bob Smith"
                                },
                                "label":"Bad"
                            }
                        ]
                    }
                ]
            }
            }
        ]
    }
}}
            <div class="mod_peerwork_peer row" data-peerid="{{ data-peerid }}">
                <div class="mod_peerwork_peername col-md-3">
                    {{ namedisplay }}
                </div>
                <div class="mod_peerwork_ratings col-md-9">
                    {{# scaleitems }}
                    <div class="mod_peerwork_rating">
                        <label for="id_{{ attrs.name }}">                       
                            <input 
                                type="radio"
                                name="{{ attrs.name }}"
                                value="{{ attrs.value }}"
                                {{# attrs.checked }} 
                                    checked="checked"
                                {{/ attrs.checked }}
                                {{# attrs.disabled }}
                                    disabled="disabled"
                                {{/ attrs.disabled }}>
                            <span aria-hidden="true">{{ label }}</span>
                            <span class="sr-only">
                                {{ srlabel }}
                            </span>&nbsp;
                        </label>
                    </div>
                    {{/ scaleitems }}
                    <div class="mod_peerwork_justif">

                    